RewriteEngine On

# Jangan arahkan ulang jika file atau direktori benar-benar ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Arahkan semua request lainnya ke index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
